# Python
__pycache__/
*.py[cod]
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Umgebung und Geheimnisse
.env

# Betriebssystem / Editor
.DS_Store
Thumbs.db
.vscode/

# Docker / Logs
*.log

# Lokale Backups
_backups/
